{% extends "apostrophe-modal:base.html" %}
{% import 'apostrophe-ui:components/buttons.html' as buttons %}
{% import 'apostrophe-ui:components/fields.html' as fields with context %}

{% block label %}<span data-provider="{{ data.label }}">{{ data.label }}</span> {{ __ns('apostrophe', 'Images') }}{% endblock %}

{% block controls %}
  <div class="apos-modal-controls">
    {{ buttons.minor('Back To Apostrophe', { action: 'cancel' }) }}

    {% if not data.script %}
      {{ buttons.base('Import', {
          action: 'import',
          attributes: 'data-apos-import'
          }, 'apos-button--major apos-button--disabled')
      }}
    {% endif %}
  </div>
{% endblock %}

{% block filters %}
  {% if data.standardFilters.length or data.customFilters.length %}
    <div
      class="apos-clearfix apos-modal-filters-inner"
      data-filters
      data-provider="{{data.label}}">
      <div class="apos-modal-filters-toggles">
        <div class="apos-modal-filters-wrapper apos-modal-filters-wrapper--left">
          <div class="apos-modal-filter">
            <label>{{ __ns('apostrophe', 'Select') }}</label>
            <div class="apos-modal-filter--padded">
              {{ fields.checkbox('select-all') }}
            </div>
          </div>

          {% if data.standardFilters['orientation'] %}
            {% set filter = data.standardFilters['orientation'] %}
            {% set choices = data.choices[filter.name] %}

            <div class="apos-modal-filter">
              <label>{{ __ns('apostrophe', filter.label) }}</label>
              <div class="apos-field-input-select-wrapper">
                <select
                  name="{{filter.name}}"
                  class="apos-field-input apos-field-input-select"
                  data-media-sources-filter
                >
                  {% for choice in choices %}
                    <option value="{{ choice.value }}">{{ __ns('apostrophe', choice.label) }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}

          {% for filter in data.customFilters %}
            {% set choices = data.choices[filter.name] %}

            <div class="apos-modal-filter">
              <label>{{ __ns('apostrophe', filter.label) }}</label>
              {% if filter.type === 'select' %}
                <div class="apos-field-input-select-wrapper">
                  <select
                    name="{{filter.name}}"
                    class="apos-field-input apos-field-input-select"
                    data-media-sources-filter
                  >
                    {% for choice in choices %}
                      <option value="{{ choice.value }}">{{ __ns('apostrophe', choice.label) }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
            </div>
          {% endfor %}

        </div>

        {% if data.standardFilters['search'] %}
          {% set filter = data.standardFilters['search'] %}
          <div class="apos-modal-filters-wrapper apos-modal-filters-wrapper--right">
            <div class="apos-modal-filters-search">
              <input
                name="search"
                class="apos-field-input apos-field-input-text"
                type="text"
                placeholder="{{ __ns('apostrophe', 'Search Images...') }}"
                data-media-sources-filter
              />
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}

{# Populated with Ajax when searching for images #}
{% block body %}
  {% if data.script %}
    <div class="apos-modal-script" data-script-element></div>
  {% else %}
    <div class="apos-manage-view">
      <div class="apos-manage-grid-view">
        <div class="apos-manage-showing">
          <div class="apos-manage-result-label" data-result-label></div>
        </div>
        <div class="apos-manage-grid-page" data-items></div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{# Populated with Ajax when searching for images #}
{% block footer %}
  {% if not data.script %}
    <div class="apos-modal-footer-inner">
      <div class="apos-ui">
        <div class="apos-pager" data-media-sources-pager></div>
      </div>
    </div>
  {% endif %}
{% endblock %}
