{% extends "apostrophe-modal:base.html" %}
{% import 'apostrophe-ui:components/fields.html' as fields with context %}

{% block label %}{{ data.label }}{% endblock %}

{% block filters %}
  <div class="apos-clearfix apos-modal-filters-inner" data-filters>
    <form
      class="apos-modal-filters-toggles"
      data-media-sources-form
      data-action="{{data.options.action}}"
    >
      <div class="apos-modal-filters-wrapper apos-modal-filters-wrapper--left">
        <span class="apos-modal-filter">
          <label>Select</label>
          <div class="apos-modal-filter--padded">
            {{ fields.checkbox('select-all') }}
          </div>
        </span>

        {% if 'width' in data.options.filters %}
        <span class="apos-modal-filter">
          <label>Width (px)</label>
          <div class="apos-field-group">
            <input
              class="apos-field-input apos-field-input-text"
              type="number"
              min="0"
              data-media-sources-width-value
            />
            <div class="apos-field-input-select-wrapper">
              <select
                class="apos-field-input apos-field-input-select"
                data-media-sources-width-range
              >
                <option>Min</option>
                <option>Max</option>
              </select>
            </div>
          </div>
        </span>
        {% endif %}
        {% if 'height' in data.options.filters %}
        <span class="apos-modal-filter">
        <label>Height (px)</label>
        <div class="apos-field-group">
          <input
            class="apos-field-input apos-field-input-text"
            type="number"
            min="0"
            data-media-sources-height-value
          />
          <div class="apos-field-input-select-wrapper">
            <select
              class="apos-field-input apos-field-input-select"
              data-media-sources-height-range
            >
              <option>Min</option>
              <option>Max</option>
            </select>
          </div>
        </div>
        </span>
        {% endif %}
        {% if 'orientation' in data.options.filters %}
        <span class="apos-modal-filter">
          <label>Orientation</label>
          <div class="apos-field-input-select-wrapper">
            <select
              class="apos-field-input apos-field-input-select"
              data-media-sources-orientation
            >
              <option>All</option>
              <option>Landscape</option>
              <option>Portrait</option>
              <option>Squarish</option>
            </select>
          </div>
        </span>
        {% endif %}
        {% if 'extension' in data.options.filters %}
        <span class="apos-modal-filter">
          <label>File Type</label>
          <div class="apos-field-input-select-wrapper">
            <select
              class="apos-field-input apos-field-input-select"
              data-media-sources-extension
            >
              <option>All</option>
              <option>Jpg</option>
              <option>Png</option>
              <option>Svg</option>
              <option>Gif</option>
            </select>
          </div>
        </span>
        {% endif %}
      </div>
      {% if 'search' in data.options.filters %}
      <div class="apos-modal-filters-wrapper apos-modal-filters-wrapper--right">
        <div class="apos-modal-filters-search">
          <input
            class="apos-field-input apos-field-input-text"
            type="text"
            placeholder="Search Images..."
            data-media-sources-search
          />
        </div>
      </div>
      {% endif %}
    </form>
  </div>
{% endblock %}

{# Populated by Jquery when searching for images #}
{% block body %}
<div class="apos-manage-view">
<div class="apos-manage-grid-view">
  <div class="apos-manage-showing">
    <div class='apos-manage-result-label' data-result-label></div>
  </div>
  <div class="apos-manage-grid-page" data-items></div>
</div>

</div>
{% endblock %}